<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ninesale.valinor.order.provider.dao.OrderDeliveryMapper" >
  <resultMap id="BaseResultMap" type="com.ninesale.valinor.order.provider.model.DtoOrderDelivery" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="orderId" property="orderId" jdbcType="BIGINT" />
    <result column="orderDetlId" property="orderDetlId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="exprCompany" property="exprCompany" jdbcType="VARCHAR" />
    <result column="exprNo" property="exprNo" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, orderId, orderDetlId, status, exprCompany, exprNo, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_order_delivery
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_order_delivery
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ninesale.valinor.order.provider.model.DtoOrderDelivery" >
    insert into t_order_delivery (id, orderId, orderDetlId, 
      status, exprCompany, exprNo, 
      createTime, updateTime)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{orderDetlId,jdbcType=BIGINT}, 
      #{status,jdbcType=INTEGER}, #{exprCompany,jdbcType=VARCHAR}, #{exprNo,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ninesale.valinor.order.provider.model.DtoOrderDelivery" >
    insert into t_order_delivery
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        orderId,
      </if>
      <if test="orderDetlId != null" >
        orderDetlId,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="exprCompany != null" >
        exprCompany,
      </if>
      <if test="exprNo != null" >
        exprNo,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="orderDetlId != null" >
        #{orderDetlId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="exprCompany != null" >
        #{exprCompany,jdbcType=VARCHAR},
      </if>
      <if test="exprNo != null" >
        #{exprNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ninesale.valinor.order.provider.model.DtoOrderDelivery" >
    update t_order_delivery
    <set >
      <if test="orderId != null" >
        orderId = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="orderDetlId != null" >
        orderDetlId = #{orderDetlId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="exprCompany != null" >
        exprCompany = #{exprCompany,jdbcType=VARCHAR},
      </if>
      <if test="exprNo != null" >
        exprNo = #{exprNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ninesale.valinor.order.provider.model.DtoOrderDelivery" >
    update t_order_delivery
    set orderId = #{orderId,jdbcType=BIGINT},
      orderDetlId = #{orderDetlId,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      exprCompany = #{exprCompany,jdbcType=VARCHAR},
      exprNo = #{exprNo,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>