<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ninesale.valinor.item.provider.dao.ItemAttrvalueMapper" >
  <resultMap id="BaseResultMap" type="com.ninesale.valinor.item.provider.model.DtoItemAttrvalue" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="attrValueName" property="attrValueName" jdbcType="VARCHAR" />
    <result column="attrId" property="attrId" jdbcType="BIGINT" />
    <result column="validFlag" property="validFlag" jdbcType="INTEGER" />
    <result column="modifyUserId" property="modifyUserId" jdbcType="BIGINT" />
    <result column="modifyUserName" property="modifyUserName" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, attrValueName, attrId, validFlag, modifyUserId, modifyUserName, createTime, updateTime
  </sql>
  
  <select id="queryItemAttrvalueListByIds" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_item_attrvalue t where t.id in
    <foreach collection="list" item="item" open="(" separator="," close=")">  
    	#{item}
    </foreach>
  </select>
  
  <select id="queryItemAttrvalueList" resultMap="BaseResultMap" parameterType="com.ninesale.valinor.item.provider.model.DtoItemAttrvalue" >
    select 
    <include refid="Base_Column_List" />
    from t_item_attrvalue t
    <where>
    	<if test="id != null and id != ''">
    		t.id = #{id,jdbcType=BIGINT}
    	</if>
    	<if test="attrValueName != null and attrValueName != ''">
    		and t.attrValueName = #{attrValueName,jdbcType=VARCHAR}
    	</if>
    	<if test="attrId != null and attrId != ''">
    		and t.attrId = #{attrId,jdbcType=BIGINT}
    	</if>
    	<if test="validFlag != null and validFlag != ''">
    		and t.validFlag = #{validFlag,jdbcType=INTEGER}
    	</if>
    </where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_item_attrvalue
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ninesale.valinor.item.provider.model.DtoItemAttrvalue" >
    insert into t_item_attrvalue (id, attrValueName, attrId, 
      validFlag, modifyUserId, modifyUserName, 
      createTime, updateTime)
    values (#{id,jdbcType=BIGINT}, #{attrValueName,jdbcType=VARCHAR}, #{attrId,jdbcType=BIGINT}, 
      #{validFlag,jdbcType=INTEGER}, #{modifyUserId,jdbcType=BIGINT}, #{modifyUserName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ninesale.valinor.item.provider.model.DtoItemAttrvalue" >
    insert into t_item_attrvalue
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="attrValueName != null" >
        attrValueName,
      </if>
      <if test="attrId != null" >
        attrId,
      </if>
      <if test="validFlag != null" >
        validFlag,
      </if>
      <if test="modifyUserId != null" >
        modifyUserId,
      </if>
      <if test="modifyUserName != null" >
        modifyUserName,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="attrValueName != null" >
        #{attrValueName,jdbcType=VARCHAR},
      </if>
      <if test="attrId != null" >
        #{attrId,jdbcType=BIGINT},
      </if>
      <if test="validFlag != null" >
        #{validFlag,jdbcType=INTEGER},
      </if>
      <if test="modifyUserId != null" >
        #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ninesale.valinor.item.provider.model.DtoItemAttrvalue" >
    update t_item_attrvalue
    <set >
      <if test="attrValueName != null" >
        attrValueName = #{attrValueName,jdbcType=VARCHAR},
      </if>
      <if test="attrId != null" >
        attrId = #{attrId,jdbcType=BIGINT},
      </if>
      <if test="validFlag != null" >
        validFlag = #{validFlag,jdbcType=INTEGER},
      </if>
      <if test="modifyUserId != null" >
        modifyUserId = #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyUserName != null" >
        modifyUserName = #{modifyUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ninesale.valinor.item.provider.model.DtoItemAttrvalue" >
    update t_item_attrvalue
    set attrValueName = #{attrValueName,jdbcType=VARCHAR},
      attrId = #{attrId,jdbcType=BIGINT},
      validFlag = #{validFlag,jdbcType=INTEGER},
      modifyUserId = #{modifyUserId,jdbcType=BIGINT},
      modifyUserName = #{modifyUserName,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>